body {
  background-color: gray;
  font-family: 'Archivo Black', sans-serif;
  color: white;
  text-align: center;
}
h1 {

}
h4 {
  letter-spacing: 4px;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: orange;
}
